

html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #1A1E4D;
}

html a{
    cursor: url("../imagens/cursor_panda_branco.png"), default;
    text-decoration: none;
    color: #F0F0F0;
}

/*------------------------Início do main----------------------------*/

.banner{
    background-image: url(../imagens/controles.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content:baseline;
    align-items: left;
    flex-direction: column;
}
.banner a:hover{
    box-shadow: #ebecf0 3px 3px;
    background-color: #33BB69;
    transition: 0.4s;
}

.content-banner{
    color: #F0F0F0;
    width: 350px;
    height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 25px;
    border-radius: 15px;
    background-color: #2e0a3d6b;
    position: relative;
    left: 10%;
    top: 100px;
}

.floating-card{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

.floating-card h1{
    font-size: 36px;
    font-weight: 600;
}

.content-banner a{
    text-decoration: none;
    color:#F0F0F0;
    background-color: #33bb6920;
    border: 2px solid #33BB69;
    border-radius: 15px;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #33BB69 3px 3px;
    font-size: 22px;
}


.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
  }
  
  .parallax__layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

  .parallax__layer img{
    display: block;
    position: absolute;
    bottom: 0;
  }
  
  .parallax__cover{
    background: #202020;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2000px;
    z-index: 2;
  }

.content-jogos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 35px 0;
    background-image: url(../imagens/fundo_cards3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #c3c2c2;
}


.content-jogos h2{
        color: #F0F0F0;
        font-size: 28px;
        border: 2px solid #33BB69;
        border-radius: 15px;
        box-shadow: #33BB69 4px 4px;
        padding: 15px 20px;
        margin: 15px 0;
        font-weight: 700;
        

}

.content-jogos > a{
    text-decoration: none;
    font-size: 18px;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: 2px #33BB69 solid;
    border-radius: 10px;
    width: 180px;
    box-shadow: #33BB69 3px 3px;

}

.content-jogos a:hover{
    box-shadow: #ebecf0 3px 3px;
    background-color: #33BB69;
    transition: 0.4s;
    
}

.content-cards{
     width: 90%;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 35px;
     padding: 15px 0;
}

.cards{
    width: 25%;
    min-width: 210px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items:center;
    padding: 0 15px;
    height: 350px;
    color: #c3c2c2;
    
}

.cards:hover{
    transform: scale(1.1);
    transition: 0.4s;
    
}

.desc-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
    background-color: #3f275ed0;
    border-radius: 15px;
    min-height: 120px;
}

.desc-card a{
    text-decoration: none;
    font-size: 18px;
    color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    border: 2px #33BB69 solid;
    border-radius: 10px;
    box-shadow: #33BB69 3px 3px;
}

.content-desc{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 8px;
}

.content-desc h3{
    font-size: 17px;
    font-weight: 550;
}

.content-desc p{
    font-size: 15px;
}

.plague{
    background-image: url(../imagens/plague_card.jpg);
    background-size: cover;

}
.stalker{
    background-image: url(../imagens/stalker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hogwarts{
    background-image: url(../imagens/Hogwarts-Legacy-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lego{
    background-image: url(../imagens/lego_skywalker.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar{
    background-image: url(../imagens/avatar_card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mario{
    background-image: url(../imagens/mario_card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*------------------------Fim do main-------------------------------*/


@media only screen and (min-width:1400px) {
    .cards{
        width: 30%;
        min-width: 300px;
        max-width: 450px;
        height: 600px;
        
    }
}

@media only screen and (max-width:500px) {
    
    .banner{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
    }
    
    .content-banner{
        width: 300px;
        height: 200px;
    }

}